.hidden {
	
	display: none;
}

.tabButton{ 
	cursor: pointer;
	border: 1px solid black;
	padding: 12px;
}

#title{
	font-family: 'Encode Sans Expanded', sans-serif;
}

#title h2 {
	text-shadow: 2px 2px rgb(221, 37, 37);
}

#title label {
	margin-left: 74px;
}

.section {
	background-color: rgba(255,255,255,.3);
	background-size: cover;
	margin-top: 10px;
	border-radius: 15px;
	padding: 0 99px;
	display:flex;
	flex-direction: column;
	align-items: center;
	min-width: 470px;
}

form {
	display: flex;
	flex-direction: column;
	padding: 12px 45px;
	max-width: 350px;
	min-width: 300px;
}

a:hover {
	color: red;
}

#artistSubmit {
	background-color: rgb(221, 37, 37);
	font-size: 19px;
	font-weight: bold;
	border: none;
	padding: 15px 34px;
	border-radius: 50px;
	font-family: 'Encode Sans Expanded', sans-serif;
}

.concertItem {
	background-color: rgba(255,255,255,.5);
	padding: 10px 25px 21px;
	border-radius: 20px;
}

.concertItem a{
	color: red;
}

.concertItem a:hover {
	color: blue;
}

body {
	background-image: url("concert.jpg");
	background-size: 1400px;
	padding: 0px 30px;
}



@media (max-width: 450px) {
	.section {
		min-width: 225px;
		padding: 0 14px;
	}
	
	#title label {
		margin-left: 25px;
	}
	
}

input#artistInput {
	font-size: 2rem;
}